header h1 {
    text-transform: uppercase;
    color:rgba(255, 0, 0, 0.734);
    text-align: center;
    margin: 2% 0% 1%;
    font-size: 50px;
    font-weight: bold;
}

header h2, h3 {
    margin: 0 5%;
    color: white;
    font-size: 20px;
    text-align: center;
    margin:0 20% 1%;
}

h2 b{
    color: rgba(255, 0, 0, 0.734);
}
header h3 {
    color: white;
    font-size: 17px;
    text-align: center;
}

body {
    background: black;
    font-family: 'Work Sans', sans-serif;   
}

main {
    display: flex;
    flex-direction: column;
    padding: 1%;
    align-items: center;
    
}

button {
    font-size: 20px;
    background-image: -webkit-linear-gradient(top, #D01E1E, #29333F);
    border-radius: 20px;
    color: #FFFFFF;
    padding: auto;
    margin: auto;
    width: 7%;
    box-shadow: 1px 1px 20px 0 #000000;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.personagens {
    display: flex;
    justify-content: center;
}

img {
    margin: 2% 2%;
    width: 300px;
    height: 400px;
}

footer {
    text-align: center;
    color: white;
}

@media (max-width: 700px) {
    header {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    button {
        margin:3% 0;
        width: 15%;
    }
    .personagens {
        display: flex;
        flex-direction: column;
        height: 90%;
        margin-top: 2%;
    }
    img {
         margin: 5% 1%  
    }
    footer {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }
}